#public-sale{
    background-image: url('../media/minting-bg.png');
    background-position: center;
    background-size: cover;
    padding: 120px 0px 60px 0px;
}
#public-sale .section-title img{
    max-width: 25%;
}

#public-sale .ps-box{
   background: rgba(0, 0, 0, 0.75);
   padding: 20px;
   border-radius: 20px;
}

#public-sale .ps-mint-box img {
    max-width: 40%;
}

#public-sale .ps-mint-box{
    margin: 30px 0px;
    padding: 30px;
    background-color: #4B598E;
    border: 3px solid #6889D8;
    border-radius: 20px;
}

#public-sale .ps-mint-box .input-group button{
    color: #fff;
    background-color: #7482B9;
    padding: 0px 12px;
    border: none;
    font-size: 24px;
}
#public-sale .ps-mint-box .input-group .number{
    flex: 0.08 !important;
    text-align: center;
    font-size: 24px;
    color: #fff;
    background-color: #7482B9;
    border: none;
    width: 40px;
}

#public-sale .ps-mint-box .input-group .input-group-text{
    background-color: #7482B9;
    border: none;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }
#public-sale .ps-mint-box .total{
    display: flex;
    justify-content: space-between;
 }
 #public-sale .col-info{
     margin: 30px 0px;
 }
 #public-sale .ps-info-box{
    background-color: #4B598E;
    border: 3px solid #6889D8;
    border-radius: 20px;
    padding: 0px;
    margin: 0px;
 }
 #public-sale .box-head{
    padding: 20px;  
    display: flex;
    border-radius: 20px;
    justify-content: space-between;
 }
 #public-sale .ps-info-box .box-body{
    background: rgba(0, 0, 0, 0.75);
    padding: 55px 20px;
    border-radius: 0px 0px 18px 18px;
}
#public-sale .ps-info-box .buttons button.connect{
    padding: 10px 0px;
    color: #fff !important;
    width: 200px;
    font-weight: 600;
    background-color: #2EBA85;
    border: 3px solid #11EB98;
    border-radius: 20px;
}
#public-sale .ps-info-box .buttons button.mint{
    padding: 10px 0px;
    color: #fff !important;
    width: 200px;
    font-weight: 600;
    background-color: #01D1FF;
    border: 3px solid #008EAD;
    border-radius: 20px;
}

::-webkit-input-placeholder { /* Edge */
    color: #767C88 !important;
    }
    
:-ms-input-placeholder { /* Internet Explorer */
color: #767C88 !important;
}

::placeholder {
color: #767C88 !important;
}

hr{
color: #fff;
padding: 1px;
}
