#footer{
    background-color: #0B2728;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 30px;
    }
    #footer .social{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    #footer .social a {
    padding: 0px 8px;
    display: inline-block;
    }
    #footer .social a img {
    max-height: 18px;
    }    